<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Gallery</title>
</head>
<body>
    <div class="container">
        <div>
            <div class="text-center" >
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h1>Welcome to the Gallery {{user.First_name}} {{user.Last_name}}!</h1> 
                <div class=''>
                    <a href="/home" class="btn btn-primary hover" > Home</a> 
                    <a href="/logout"class="btn btn-primary hover" > Logout</a>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-3">
                <form method="post" action="/upload_file" enctype='multipart/form-data'>
                    <input type="hidden" name="username" value="{{user.First_name}} {{user.Last_name}}">
                    <input type="hidden"> 
                    <textarea name="text" id="text" cols="53" rows="2" placeholder="Photo Description:"></textarea>
                    <div class="mt-3">
                        <input type="file" name="file">
                        <input type="submit" value="Upload picture">
                    </div>
                </form>
            </div>
            <div>
                {% if imgs %}
                    {% for img in imgs %}
                        <img src= "/static/{{img.filename}}"alt="img images"  width="150" height="150">
                        <p class="text-dark" > Post it by:{{img.username}} </p>
                        {% if session['user_id'] == img.user_id %}
                        <a class="btn-sm btn-primary text-decoration-none mb-2" href="/delete/img/{{img.id}}"><strong>Delete Image</strong></a>
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

