<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='/script.js') }}"></script>
       
        <link rel="stylesheet" href="style.css" />
        
        <title>Show Messages</title>
    </head>
    <body>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1> Welcome to the Message Chat Room</h1> 
                <div class=''>
                    <a href="/home" class="btn btn-primary hover" > Home</a> 
                    <a href="/logout"class="btn btn-primary hover" > Logout</a>
                </div>
            </div>
        <div id="wrapper">
            <div id="menu">

                {%for i in message_recieved%}
                <hr>
                    <p> Msm: {{i.message}} </p>
                    <p> Date: {{i.created_at}} </p>
                    <p> Send by:  {{i.sender.First_name}} </p>
                    {% if session['user_id'] ==  i.sender.id %}
                    <a class="btn-sm btn-primary text-decoration-none mb-2" href="/delete/MSG/{{i.id}}"><strong>Delete MSG</strong></a>
                    {% endif %}
                    {%endfor%}

                
            </div>
 
            <div id="chatbox"></div>
 
            <form name="message" action="/create_message" method="post">
                <input name="message" type="text" id="message" />
                <input name="submitmsg" type="submit" id="submitmsg" value="Send" class="btn-sm btn-primary"/>
                <a id="exit" href="/home" class="btn btn-warning text-primary"><strong>Exit Chat</strong></a>
            </form>
        </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            // jQuery Document
            $(document).ready(function () {});
        </script>
    </body>
</html>